<ul class="breadcrumb">
	<li><%= link_to "Home", menu_index_path %></li>
	<li><%= link_to "ブランド検索", brands_path %></li>
	<li class="active">ブランド編集</li>
</ul>

<h1>ブランド編集画面</h1>

<%= render 'brand_form' %>